# VoteWise AI Environment Variables

# 1. Get your free API keys from Google AI Studio (Gemini)
# https://aistudio.google.com/
VITE_GEMINI_API_KEY=AIzaSyB52-c6lILTDmn_vqAN6JhlR2eSlJhIfhg


# Email Notification Variables
GMAIL_USER=satyamspace000108@gmail.com
GMAIL_APP_PASSWORD=SA12345t@
OWNER_EMAIL=satyamspace000108@gmail.com
